@import "fonts.css";

header{
    background-color: rgba(37,40,39,1.0);
    height: 100px;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
    z-index: 2000;
}
header .open-menu{
    filter: invert(1);
    position: absolute;
    width: 40px;
    right: 30px;
    top: 30px;
    cursor: pointer;
    display: none;
}
.headerFixed{
    position: fixed;
    background-color: rgba(37,40,39,1.0);
    height: 100px;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
    left: 0;
    z-index: 1000;
}
.text-logo{
    position: absolute;
    color: #fff;
    text-align: center;
    width: 200px;
    height: 100px;
}
.text-logo img{
    width: 20px;
    pointer-events: none;
}
.text-logo h1{
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.5em;
    padding-bottom: 15px;
    margin-top: 25px;
    color: lavender;
    /*              border-bottom: solid;*/
}
.text-logo h1 sup{
    margin-left: 5px;
}
h6{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -20px;
    width: 100%;
    font-family: 'Homemade Apple', cursive;
    color: rgba(234,176,157,1.0);
}
nav{
    height: 100%;
    width: 100%;
    text-align: right;
}
nav a{
    line-height: 100px;
    padding: 10px;
    color: azure;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .09em;
    transition: .4s;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
}
nav a.active{
    color: rgba(229,203,177,1.0);
}
nav a:hover{
    text-decoration: none;
    color: rgba(229,203,177,1.0);
    transition: .4s;
}
nav .close-menu{
    filter: invert(1);
    position: absolute;
    width: 30px;
    display: none;
}